<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.6;
            color: #333;
            background-color: #f8f8f8;
            margin: 0;
            padding: 0;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            margin: 0 0 20px;
        }

        p {
            margin: 0 0 20px;
        }

        .signature {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <h1>Inquiry about your services</h1>
    <p>Dear {{recieverName}}</p>
    <p>{{message}}</p>
    <p className="signature">Best regards,<br>{{name}}<br>{{email}}<br></p>
</body>

</html>